.app {
  padding: 4rem;
}

.logo {
  width: 2rem;
  height: auto;
}

.menu {
  display: flex;
  margin: 2rem 0;
  padding: 0;
}

.menu li {
  list-style: none;
  margin-right: 2rem;
}

.menu li a {
  display: block;
  color: #767676;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.menu li a.active {
  color: #fff;
  border-bottom: 2px solid #009de0;
}

.flex {
  display: flex;
}

.leftpart {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  border-right: 1px solid #fff;
}

.rightpart {
  margin-left: 30px;
  text-indent: 5px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.removeCenter{
  justify-content: normal;
}

.addpadding {
  padding: 4px;
}

.newplaylistbdiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

.newplaylistbutton {
  background-color: black; /* Green */
  border: 0.5px solid white;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.cancelbutton{
  background-color: #aca7a7;
  color: black;
  margin-right: 10px;
}

.center{
  text-align: center;
}

.smoke {
  opacity: 0.5;
  text-align: center;
}

/* Modal Styling */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.modalcontent {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modalbody {
  padding: 2px 16px;
}
.modaltrackbody {
  padding: 2px 16px;
  border: 1px solid #ccc; ;
}

.modalfooter {
  padding: 2px 16px;
  background-color: black;
  color: white;
  justify-content: flex-end;
  display: flex;
}

.modalheader {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

/* The Close Button */
.close {
  /* color: black; */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.modal:target + .backdrop {
  display: block;
}

.modalbottom {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}